.select-container {
	width: 50%;
}

@keyframes scaleIn {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}

	50% {
		opacity: 0.3;
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.custom-select__control {
	background-color: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	border-bottom: 1px solid #66676e !important;
	box-shadow: none !important;
}

.custom-select__control--menu-is-open {
	border-color: #e42c2c !important;
}


.custom-select__value-container {
	padding: 0 !important;
	cursor: text !important;
}

.custom-select__input-container {
	color: #999aa5 !important;
}



.custom-select__indicator-separator {
	display: none !important;
}

.custom-select__indicators {
	cursor: pointer !important;
}

.custom-select__indicator {
	color: #66676e !important;
}

.custom-select__indicator:hover {
	color: #e42c2c !important;
}


.custom-select__menu {
	background-color: #000000 !important;
	color: white !important;
	animation: scaleIn 0.35s ease-in-out;
}



.custom-select__option {
	cursor: pointer !important;
}

.custom-select__option--is-focused {
	background-color: rgba(75, 75, 75, 0.493) !important;
}


.custom-select-container>div {
	outline: none !important;
	box-shadow: none !important;
}

.custom-select-container>div:hover {
	border-color: #ced4da !important;
}

.custom-select__single-value.css-1dimb5e-singleValue{
	color: rgb(255, 255, 255);
}




/* Multi */

/* .custom-select__multi-value {
	background-color: rgba(#999aa5, 0.6) !important;
	border-radius: 0.5rem !important;
} */

/* .custom-select__multi-value__label {
	font-size: 80% !important;
	color: rgba(white, 0.7) !important;
} */

/* .custom-select__multi-value__remove {
	color: rgba(white, 0.8) !important;
} */

/* .custom-select__multi-value__remove:hover {
	background-color: transparent !important;
	color: white !important;
} */

